@import url('../../index.css');

.video{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}
.youtube{
    display: flex;
}